:root {
    --background-color: #fff;
    --foreground-color: #000;
    --link-color: #336bad;
    --foreground-secondary-color: #666;
    --nav-current-background-color: #e2e2e2;
    --nav-current-foreground-color: #fff;
    --icon-secondary-filter: invert(43%) sepia(22%) saturate(10%) hue-rotate(58deg) brightness(87%) contrast(93%);
    --icon-social-filter: invert(28%) sepia(47%) saturate(2131%) hue-rotate(197deg) brightness(95%) contrast(78%);
    --border-color: #e2e2e2;
    --chevron-color: #333;
    --site-title-font-size: 2.5em;
    --h1-font-size: 2em;
    --item-gap: 30px;
    --inner-gap: 20px;
    --title-line-height: 1.2;
    --content-max-width: 700px;
    --breadcrumb-background-color: rgba(255, 255, 255, 0.8);
    --breadcrumb-border-color: rgba(255, 255, 255, 0.7);
    --monospace: "Lucida Console", Consolas, "Courier", monospace;
    --code-background-color: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1c1c1e;
        --foreground-color: #fff;
        --link-color: #6699ff;
        --foreground-secondary-color: #adadaf;
        --nav-current-background-color: #adadaf;
        --nav-current-foreground-color: #fafaff;
        --icon-secondary-filter: invert(87%) sepia(6%) saturate(58%) hue-rotate(202deg) brightness(80%) contrast(87%);
        --icon-social-filter: invert(64%) sepia(85%) saturate(4030%) hue-rotate(203deg) brightness(108%) contrast(102%);
        --border-color: #2b2b2d;
        --chevron-color: #eee;
        --breadcrumb-background-color: rgba(32, 32, 34, 0.8);
        --breadcrumb-border-color: rgba(32, 32, 34, 0.7);
        --code-background-color: #2b2b2d;
    }
}

html {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

a:link, a:visited, a:active {
    color: var(--link-color);
    text-decoration: none;
    line-break: anywhere;
}

a:hover {
    text-decoration: underline;
}

code {
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    text-align: left;
}

code {
    background-color: var(--code-background-color);
    padding: 0 2px 0 2px;
    border-radius: 3px;
}

code, pre, samp, tt {
    font-family: var(--monospace);
}

pre {
    border: 1px solid var(--border-color);
    background-color: var(--code-background-color);
    border-radius: 3px;
    padding: 10px;
    font-size: 0.9em;
}

pre {
    display: block;
    break-inside: avoid;
    text-align: left;
}

h1 {
    color: var(--foreground-color);
    font-size: var(--h1-font-size);
    margin: 0 0 20px 0;
    line-height: var(--title-line-height);
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.content img {
    display: block;
    max-width: 100%;
    margin: 40px auto 40px auto;
}

hr {
    border: none;
    height: 2px;
    color: var(--border-color);
    background-color: var(--border-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.date {
    font-size: 0.8em;
    color: var(--foreground-secondary-color);
}

.breadcrumb {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    position: sticky;
    top: 0;
    background-color: var(--breadcrumb-background-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--breadcrumb-border-color);
    box-sizing: border-box;
    z-index: 99;
}

.breadcrumb-inner {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
}

.breadcrumb-inner > .chevron {
    display: inline-block;
    margin: 0 8px;
    color: var(--chevron-color);
    font-family: "Lucida Grande";
    font-weight: 500;
}

.breadcrumb-inner > a {
    line-break: auto;
}

.main {
    max-width: calc(800px - env(safe-area-inset-left) - env(safe-area-inset-left));
    margin: 0 auto;
    padding: 20px;
    color: var(--foreground-color);
}

.content {
    margin: 40px 0;
    line-height: 1.75rem;
    font-size: 1em;
    color: var(--foreground-color);
}

.site-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--inner-gap);
    font-size: 1em;
    line-height: var(--title-line-height);
    color: var(--foreground-color);
}

.site-title {
    font-size: var(--site-title-font-size);
    line-height: var(--title-line-height);
    font-weight: 600;
    color: var(--foreground-color);
}

.site-about {
    font-size: 1.2em;
    line-height: var(--title-line-height);
    color: var(--foreground-color);
}

.site-about p:first-child {
    margin-top: 0px;
}

.site-about p:last-child {
    margin-bottom: 0px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: var(--item-gap);
    align-items: top;
}

.item-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-hero-image {
}

.item-hero-image img {
    max-height: 60px;
    border-radius: 2px;
    aspect-ratio: 3/2;
    object-fit: cover;
    image-rendering: optimizeQuality;
    border: 0px;
}

.item-title {
    font-size: 1.25em;
    font-weight: 500;
    line-height: var(--title-line-height);
    text-align: left;
}

.item-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.item-date {
    font-size: 0.8em;
    color: var(--foreground-secondary-color);
    text-align: left;
    display: inline-block;
}

.item-video-icon, .item-audio-icon {
    width: 1em;
    height: 1em;
    filter: var(--icon-secondary-filter);
}

.social-icon {
    width: 1em;
    height: 1em;
    vertical-align: bottom;
    filter: var(--icon-social-filter);
}

.video-container {
    width: 100%;
    padding-top: 56.25%;
    height: 0px;
    position: relative;
    border-radius: 2px;
    margin-bottom: 20px;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    z-index: 1;
}

.audio-container {
    margin-bottom: 20px;
}

.audio {
    width: 100%;
}

.top {
    align-items: center;
    display: flex;
    gap: var(--inner-gap);
    margin-bottom: 40px;
}

img.avatar {
    width: 72px;
    height: 72px;
    border-radius: 72px;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
    padding: 10px;
}

.nav-container {
    text-align: left;
}

.nav {
    display: inline-flex;
    gap: 16px;
    padding: 2px;
    box-sizing: border-box;
    margin: 0px auto 40px auto;
    align-items: center;
}

.nav-current:link, .nav-current:visited {
    background-color: var(--nav-current-background-color);
    color: var(--nav-current-foreground-color);
    border-radius: 2em;
    font-size: 1em;
    line-height: 1;
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

.nav-current:hover {
    text-decoration: none;
}

.nav-item:link, .nav-item:visited {
    color: var(--foreground-color);
    font-size: 1em;
    line-height: 1;
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

.nav-item:hover {
    text-decoration: none;
}

figure {
    margin-top: 20px;
    margin-bottom: 20px;
}

figcaption {
    font-size: 0.8em;
    color: var(--foreground-secondary-color);
}

p, h1, h2, h3, h4, h5, h6, .date, ul, ol, pre, hr {
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
}

.site-about p {
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

li:has(input[type="checkbox"]) {
    list-style-type: none;
    margin-left: 0px;
}

@media screen and (max-width: 768px) {
    :root {
        --item-gap: 15px;
        --inner-gap: 10px;
        --site-title-font-size: 2em;
        --h1-font-size: 1.75em;
    }

    .breadcrumb-inner {
        padding: 0px 20px 0px 20px;
    }
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

blockquote {
    font-style: italic;
    border-left: 5px solid;
    margin-left: 2em;
    padding-left: 1em;
    border-color: var(--border-color);
    color: var(--foreground-secondary-color);
}

footer {
    font-size: 0.9em;
    color: var(--foreground-secondary-color);
    width: 100%;
}

.footer-inner {
    width: 100%;
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
}
