{% extends 'base.html' %}

{% block head %}
{% include 'modules/planet_seo.html' %}
{% endblock %}

{% block main %}
{% include 'modules/top.html' %}
{% include 'modules/nav.html' %}
<div class="archive-container">
  <div class="archive-title">Archive</div>
  <div class="archive-count">{{ articles.count }} article{% if articles.count > 1 %}s{% endif %}</div>
</div>
<div class="archive-list">
{% for item in archive_sections %}
<div class="archive-list-header">{{ item }}</div>
{% for article in archive[item] %}
<div class="archive-list-item">
  <a href=".{{ article.link }}">{{ article.title|escape }}</a>
</div>
{% endfor %}
{% endfor %}
</div>
{% endblock %}
