{% extends 'base.html' %}
{% block head %}
<!-- Open Graph Tags -->
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ article.title|escape }}" />
<meta property="og:site_name" content="{{ planet.name|escape }}" />
<meta property="og:description" content="{{ article_summary|escape }}" />
<meta property="article:published_time" content="{{ article.created|formatDateC }}" />
  {% if article.heroImage != nil %}
  <meta property="og:image" content="{{ article.heroImage }}" />
  <meta property="og:image:alt" content="{{ article.title|escape }}" />
  {% else %}
  <meta property="og:image" content="{{ assets_prefix }}avatar.png" />
  <meta property="og:image:alt" content="{{ planet.name|escape }}" />
  {% endif %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ planet.name|escape }}" />
<meta name="twitter:title" content="{{ article.title|escape }}" />
<meta name="twitter:description" content="{{ article_summary|escape }}" />
  {% if article.heroImage != nil %}
  <meta name="twitter:image" content="{{ article.heroImage }}" />
  {% else %}
  <meta name="twitter:image" content="{{ assets_prefix }}avatar.png" />
  {% endif %}
<!-- End Open Graph Tags -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    if (!window.PLANET.visitedFromPlanetClient) {
      if(document.getElementById('audio-container')){
        document.querySelector('.audio-container').style.display = 'block';
      }
      if(document.getElementById('footer')){
        document.querySelector('#footer').style.display = 'block';
      }
      breadcrumb([
        { text: "{{ planet.name|escapejs }}", url: '../' },
      ]);
    }
  });
</script>
{% endblock %}
{% block main %}
<h1>{{ article.title|escape }}</h1>
<div class="date">{{ article.created|formatDate }}</div>
<div class="content">
  {% if article.hasVideo %}
  <div class="video-container">
    <video class="video" controls playsinline>
      <source src="{{ article.videoFilename }}">
    </video>
  </div>
  {% endif %}
  {% if article.hasAudio %}
  <div class="audio-container" id="audio-container" style="display: none;">
    <audio class="audio" controls>
      <source src="{{ article.audioFilename }}">
    </audio>
  </div>
  {% endif %}
  {{ content_html }}
</div>
{% endblock %}
