{% extends 'base.html' %}
{% block head %}
<!-- Open Graph Tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ planet.name|escape }}" />
<meta property="og:description" content="{{ page_description|escape }}" />
<meta property="og:site_name" content="{{ planet.name|escape }}" />
  {% if has_avatar %}
  <meta property="og:image" content="{{ og_image_url }}" />
  <meta property="og:image:width" content="72" />
  <meta property="og:image:height" content="72" />
  <meta property="og:image:alt" content="{{ planet.name|escape }}" />
  {% endif %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ planet.name|escape }}" />
<meta name="twitter:title" content="{{ planet.name|escape }}" />
<meta name="twitter:description" content="{{ page_description|escape }}" />
  {% if has_avatar %}
  <meta name="twitter:image" content="{{ og_image_url }}" />
  {% endif %}
<!-- End Open Graph Tags -->
{% endblock %}
{% block main %}
<div class="top">
  {% if has_avatar %}
  <img src="{{ assets_prefix }}avatar.png" width="72" height="72" class="avatar">
  {% endif %}
  <div class="site-info">
    <div class="site-title">{{ page_title|escape }}</div>
    {% if page_description_html.count > 0 %}<div class="site-about">{{ page_description_html }}</div>{% endif %}
  </div>
</div>
<div class="nav-container"><div class="nav">
  <a href="./" class="nav-current">Home</a>
  <!-- TODO: Implement Article.kind and Archive
  <a href="./" class="nav-item">About</a>
  <a href="./" class="nav-item">Archive</a>
  <a href="./" class="nav-item">Contact</a>
  -->
  <a href="{{ assets_prefix }}rss.xml" target="_blank"><img src="{{ assets_prefix }}assets/rss.svg" alt="RSS" class="social-icon" width="1em"></a>
  {% if has_podcast %}
  <a href="{{ assets_prefix }}podcast.xml" target="_blank"><img src="{{ assets_prefix }}assets/podcast.svg" alt="Podcast" class="social-icon" width="1em"></a>
  {% endif %}
  {% if planet.twitterUsername.count > 0 %}
  <a href="https://twitter.com/{{ planet.twitterUsername|escapejs }}" target="_blank"><img src="{{ assets_prefix }}assets/twitter.svg" alt="twitter.com/{{ planet.twitterUsername|escapejs }}" class="social-icon" width="1em"></a>
  {% endif %}
  {% if planet.githubUsername.count > 0 %}
  <a href="https://github.com/{{ planet.githubUsername|escapejs }}" target="_blank"><img src="{{ assets_prefix }}assets/github.svg" alt="github.com/{{ planet.githubUsername|escapejs }}" class="social-icon" width="1em"></a>
  {% endif %}
  {% if planet.telegramUsername.count > 0 %}
  <a href="https://t.me/{{ planet.telegramUsername|escapejs }}" target="_blank"><img src="{{ assets_prefix }}assets/telegram.svg" alt="t.me/{{ planet.telegramUsername|escapejs }}" class="social-icon" width="1em"></a>
  {% endif %}
</div></div>
<div class="items">
  {% for article in articles %}
  <div class="item">
    {% if article.heroImage != nil %}
    <!--<div class="item-hero-image"><a href="{{ article.id }}/"><img src="{{ article.id }}/{{ article.heroImage }}"></a></div>-->
    {% endif %}
    <div class="item-main">
      <div class="item-title"><a href=".{{ article.link }}">{{ article.title|escape }}</a></div>
      <div class="item-info">
        <div class="item-date">{{ article.created|ymd }}</div>
        {% if article.hasVideo %}<img src="{{ assets_prefix }}assets/video.svg" width="1em" class="item-video-icon" alt="Video">{% endif %}
        {% if article.hasAudio %}<img src="{{ assets_prefix }}assets/microphone.svg" width="1em" class="item-audio-icon" alt="Video">{% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
